@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
:root {
  font-family: 'Outfit', sans-serif;
  font-weight: 400, 700;
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  background-color: var(--light-gray);
}
